
    <h2>Welcome, {{username}}!</h2>


    <h3>Create a new Tech Post:</h3>

  <div>
    <form class="form new-post-form">
      
        <label for="post-name">Title:</label>
        <input id="title"/>
      
      
        <label for="post-desc">Details:</label>
        <textarea id="details"></textarea>
      
  
        <button type="submit" class="btn btn-primary">Create</button>
     
    </form>
  </div>

  {{#if posts.length}}
  <div class="post-list"></div>
    <h3>My current posts:</h3>

    {{#each postsDataJson as |post|}}
  
  
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
    
   
        <button data-id="{{post.id}}">DELETE</button>
     
  
    {{/each}}

  {{/if}}
</div>

<script src="/public/dashboard.js"></script>
